<% content_for:head do%>

<style>
 /* #charts {
  background-color: green;
} */

* {
    # box-sizing: inherit;
    font-family: "Source Sans Pro", sans-serif;
}

body {
  /* background-color: #31353a; */
  /* overflow: scroll; */

  background-color: lightgrey;
}

#wrapper, #main, .container-fluid, #main-content {
  /* border: 2px solid red; */
  height: 100%;
}

#sidebar0 {
    width: 240px;
    /* background: #444950; */
    /* overflow: scroll; */
}

.menu-list {
    /* line-height: 1.25; */
}

#sidebar0 .nav-item {
  width: 200px;
}


ul {
    list-style: none;
}

/*#charts .container {
    margin-left: 250px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    position: relative;
    width: auto;
}

 #charts .card {
    margin: 6px;
    margin-top: 20px;
    padding-top: 10px;
    width: 240px;
    padding-bottom: 3rem;
    flex: 0 0 33.33333%;
    max-width: 33.3333%;
    /* background-color: green; */
  }

/*.card-content {
    background-color: transparent;
    padding: 1.5rem;
}

#charts .card .card-footer {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    }*/

.card-footer {
    background-color: transparent;
    border-top: 1px solid #717984;
    align-items: stretch;
    display: flex;
}

.card-footer a {
    color: #808080;
    cursor: pointer;
    text-decoration: none;
}

.menu-list a {
    border-radius: 3px;
    display: block;
    color: #f4f5f6;
    padding: 0.5em 0.75em;
}

.menu-list a:hover:not(.iactive) {
  /* background-color: #31353a; */
  background-color: #C0C0C0;
}


.card-footer-item {
    align-items: center;
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: center;
    padding: 0.75rem;
}

.card-footer-item:hover {
  /* color: #ffffff; */
  color: #C0C0C0;
}

.iactive {
    background-color: #808080;
    color: #fff;
    cursor: default;
}

/*.img-container {
    text-align: center;
    display: block;
    height: 180px;
}

.img-container img {
    width: 88%;
    min-height: 100%;
}

@media (max-width: 1000px) {
  #charts .container {
    margin-left: 250px;
    display: block;
    width: 100%;
  }
   #charts .card {
    margin: 6px;
    width: 500px;
    padding-bottom: 3rem;
    flex: 0 0 33.33333%;
    max-width: 70%;
    margin-right: 6px;
    /* background-color: green; */
  }

  /*@media (max-width: 650px) {
  #charts .container {
    margin-left: 250px;
    display: block;
    width: 100%;
  }
   #charts .card {
    margin: 6px;
    width: 300px;
    padding-bottom: 3rem;
    flex: 0 0 33.33333%;
    margin-right: 6px;
    /* background-color: green; */
  /*}*/
}


</style>

<%end%>

<% content_for :title, "App List" %>

<body data-turbolinks="false">
  <div class="container my-5">
    <div class="row cols-xs-space cols-sm-space cols-md-space">

    <div id="sidebar0"class="col-lg-3 order-lg-1 mb-3">
    <nav class="menu pl-4 navbar navbar-light p-0">
    <ul class="menu-list navbar-nav">
        <li class="nav-item">
          <% if String(@id) == "" %>
          <a href="javascript:void(0)" class="nav-link iactive active">
              &nbsp;
              <i class="fas fa-sitemap"></i>
              All
          </a>
          <% else %>
          <a href="/applist" class="nav-link">
              &nbsp;
              <i class="fas fa-sitemap"></i>
              All
          </a>
          <% end %>
        </li>
        <div class="dropdown-divider"></div>
        <% @categories.each do |cat| %>
          <li class="nav-item">
            <% if String(cat["id"]) == String(@id) %>
              <a href="javascript:void(0)" class="nav-link iactive active">
                  &nbsp;
                  <i class="far fa-folder-open"></i>
                  <%= cat["name"] %>
              </a>
            <% else %>
              <% @count = 0 %>
              <% @apps.each do |app| %>
                <% if String(app["category_id"]) == String(cat["id"]) %>
                  <% @count += 1 %>
                <% end %>
              <% end %>
              <% if @count > 0 %>
                <a href=<%= "/applist/" + String(cat["id"]) %> class="nav-link">
                    &nbsp;
                    <i class="far fa-folder"></i>
                    <%= cat["name"] %>
                </a>
              <% end %>
            <% end %>
          </li>
        <% end %>

        <% @categories.each do |cat| %>
          <li class="nav-item">
            <% @count = 0 %>
                  <% @apps.each do |app| %>
                    <% if String(app["category_id"]) == String(cat["id"]) %>
                      <% @count += 1 %>
                    <% end %>
            <% end %>
            <% if @count == 0 && String(cat["id"]) != String(@id) %>
              <a href=<%= "/applist/" + String(cat["id"]) %> class="nav-link disabled">
                  &nbsp;
                  <i class="far fa-folder"></i>
                  <%= cat["name"] %>
              </a>
            <% end %>
          </li>
        <% end %>
    </ul>
    </nav>
    </div>

      <div class="col-lg-9 order-lg-2">
        <div class="row cols-xs-space cols-sm-space cols-md-space">
          <% @apps.each do |app| %>
          <% if String(@id) == "" || String(app["category_id"]) == String(@id) %>
              <div class="card col-lg-4 mb-4 mr-4">
                <div class="card-img-top">
                  <% if app.cover_image.attached? %>
                    <%= image_tag app.cover_image, alt: "image", style: "height:100px" %>
                  <%  else %>
                    [NO IMAGE]
                  <% end %>
                </div>
                <div class="card_body">
                  <h5 class="card-header-title">
                    <b>
                      <%= app["name"] %>
                    </b>
                  </h5>
                  <% @des = String(app["description"]) %>
                  <%= @des.length > 200 ? @des[0, 200] + "..." : @des; %>
                </div>
                <br>
                <footer class="card-footer">
                  <a class="card-footer-item" href=<%= "/apps/" + String(app["id"]) %>>
                    <i class="far fa-eye"></i>
                    View
                  </a>
                </footer>
              </div>
          <% end %>
          <% end %>
      </div>
      </div>
    </div>
  </div>
</body>