<% content_for (:sidebar) do %>
    <%= render :partial => "layouts/sidebar" %>
<% end %>
   
   <% content_for :title, "Search Results" %>

    <% content_for:head do%>
  
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


        <script>
    // $( document ).on('turbolinks:load', function() {
    //   $('#pj_table').DataTable({
    //       "paging":   false,
    //       "ordering": false,
    //       "info":     false
    //   });
    // });

    $(document).ready(function() {
        $('#pj_table').DataTable( {
            "paging":   false,
            "ordering": false,
            "info":     false
        } );
    } );

    </script>

    <% end %>

    <body data-turbolinks="false">

  <div class="container-fluid p-0">
  <div class="row no-gutters">
  <%
=begin%>
 <div class="col">
  <%= yield :sidebar %>
  </div> 
<%
=end%>

<div class="col-11 pl-4">
<ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%=link_to 'Admin home', '/admin' %>
      </li> 
      <li class="breadcrumb-item">
        <%=link_to 'Task', '/admin/tasks' %>
      </li>
      <li class="breadcrumb-item">
        Search Result
      </li> 
</ol>
    
    <div id="result">
    <h3>Search Result</h3> <br>
    <div>
    <table id="pj_table" class="display table" style="margin: 0; width:100%">
        <thead>
               
            <th style="padding-left: 1%;"> Task Id </th>
            <th style="padding-left: 1%;"> Run By </th>
            <th style="padding-left: 1%;"> Start Time </th>
            <th style="padding-left: 1%;"> Status </th>
            <th style="padding-left: 1%;"> Actions </th>
          
        </thead>

        <tbody id="area">

        <% @results.each do |res| %>
            <tr>
              <% @task_attrs.each do |attr| %>
                <td> 
                <div class="table_cell"> 
                    <% if attr == "user_id" %>
                    <%= @users.find(res[attr])["username"] %>
                    <% else %>
                      <% if attr == 'created_at' %>
                      <%= String(res[attr].localtime).split(" ")[0] %>
                      <%= String(res[attr].localtime).split(" ")[1] %>
                      <% else %>
                      <%= res[attr] %>
                      <% end %>
                    <% end %>
                    &nbsp;
                </div>
                </td> 
              <% end %>

              <td>
               <%= link_to '<button type="button" data-toggle="tooltip" title="Delete" class="btn btn-outline-danger"><i class="far fa-trash-alt"></i></button>'.html_safe, "/admin/tasks/" + String(res.id), method: :delete,
                          data: { confirm: 'Are you sure you want to delete task ' + String(res.id) + '?<br>You can\'t undo this action.', 
                                  title: 'Confirm your action', 
                                  commit: 'Delete' } %>
            
              <a href="/admin/tasks/<%= res.id %>" target="_blank">
                <button data-toggle="tooltip" type="button" title="View" class="btn btn-outline-success"> 
                    <i class="far fa-eye"></i>
                </button>
              </a>
              </td>

            </tr>
        <% end %>
        
        </tbody>
    </table>
    <br>
    
    </div>
    </div>

</div>
</div>
</div>