<% content_for (:sidebar) do %>
    <%= render :partial => "layouts/sidebar" %>
<% end %>

<% content_for :title, "View Task " + String(@task["id"]) %>

<% content_for:head do%>
  
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <%= javascript_pack_tag "table_style" %>

    <script>

      $( function() {
        $( "#accordion" )
          .accordion({
            header: "> div > h3"
          })
          .sortable({
            axis: "y",
            handle: "h3",
            stop: function( event, ui ) {
              // IE doesn't register the blur when sorting
              // so trigger focusout handlers to remove .ui-state-focus
              ui.item.children( "h3" ).triggerHandler( "focusout" );
    
              // Refresh accordion to handle new order
              $( this ).accordion( "refresh" );
            }
          });
      } );

    </script>
  
  <% end %>

<body data-turbolinks="false">

<div class="container-fluid p-0">
  <div class="row no-gutters">
  <div class="col">
  <%= yield :sidebar %>
  </div>
  
  <div class="col-11">

<ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%=link_to 'Admin home', '/admin' %>
      </li> 
      <li class="breadcrumb-item">
        <%=link_to 'Task', '/admin/tasks' %>
      </li>
      <li class="breadcrumb-item">
        <%=link_to "Task " + String(@task["id"]), '/admin/tasks/' + String(@task["id"]) %>
      </li> 
</ol>

  <div class="container-fluid">
  <h3><%= "View Task " + String(@task["id"]) %></h3>
  <p>Here is the information for <%= "Task " + String(@task["id"]) %>.</p>            
  <table class="table table-hover">
    <tbody>
      <% @task_attrs.each do |attr| %>
      <tr>
        <th><%= attr %></th>
        <td><%= @task[attr] %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

  </div>
  </div>
  </div>