<h2>Direct Query Test</h2>

<br>

<h4>Rails Server Root:</h4>

<span>Path ==> </span>
<%= @rrot %>
<br>

<br>

<h4>Parameter</h4>

<span>Parameter Received as ==> </span>
<%= @task_param %>
<br>
<span> And decoded to ==> </span>
<%= @task_id %>
<br>

<br>

<h4>Server response</h4>

<%= @result %>
<br>

<br>

<h4>Returned result:</h4>

<b style="color: #B00100">
  <%= @result_json %>
</b>

<br>

<br>

<hr>