<h1>New User</h1>

<div style="margin : 20px;">

<%= form_with model: @user do |form| %>
  <div>
    <%= form.label :username %><br>
    <%= form.text_field :username %>
  </div>

  <div>
    <%= form.label :password_digest %><br>
    <%= form.text_area :password_digest %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<br>
<a href="/users">
<button type="button">     
  Back
</button>
</a>

</div>
<br>
