<% content_for :title, "Apps" %>

<% content_for:head do%>
  
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <%= javascript_pack_tag 'apps_js' %>
    <%= javascript_pack_tag "table_style" %>

    <script>
    // $( document ).on('turbolinks:load', function() {
    //   $('#pj_table').DataTable({
    //       "paging":   false,
    //       "ordering": false,
    //       "info":     false
    //   });
    // });

    $(document).ready(function() {
        $('#pj_table').DataTable( {
            "paging":   false,
            "ordering": false,
            "info":     false
        } );
    } );

      $( function() {
        $( "#accordion" )
          .accordion({
            header: "> div > h3"
          })
          .sortable({
            axis: "y",
            handle: "h3",
            stop: function( event, ui ) {
              // IE doesn't register the blur when sorting
              // so trigger focusout handlers to remove .ui-state-focus
              ui.item.children( "h3" ).triggerHandler( "focusout" );
    
              // Refresh accordion to handle new order
              $( this ).accordion( "refresh" );
            }
          });
      } );

    </script>
  
  <% end %>


  <body data-turbolinks="false">

  <div class="container" onload="init()">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%=link_to 'Admin home', '/admin' %>
      </li> 
      <li class="breadcrumb-item">
        <%=link_to 'App', '/admin/apps' %>
      </li> 
      
    </ol>

    <h1>
    App
    </h1>
  
    <p>
        This page is made for admin to : 
        <ul>
          <li>Check out all apps in the system</li>
          <li>Edit app details (through producer's page)</li>
        </ul>
    </p>
  
    <hr>

    <form action="/admin/apps/search" method="POST">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
    Search for an app by Name: &nbsp;
    <input type="text" id="text" name="name">
    <button type="submit" id="search"><i class="fas fa-search"></i></button>
    </form>

    <div id="accordion">
      <br>

      <% @cats.each do |cts| %>

      <div class="group">

      <h3><%= cts["name"] %></h3>
      <div>

        <table id="pj_table" class="display" style="margin: 0;">
        <thead>
               
            <th> App No. </th>
            <th> Name </th>
            <th> Author </th>
            <th> Last Update Time </th>
            <th> Action </th>
          
        </thead>
  
        <tbody>
        <% @apps.each do |app| %>

        <% if app["category_id"] == cts["id"] %>
          
            <tr>
              <% @app_attrs.each do |attr| %>

                <td> 
                <div class="table_cell"> 
                    <% if attr == "user_id" %>
                    <%= @users.find(app[attr])["username"] %>
                    <% else %>
                    <%= app[attr] %>
                    <% end %>
                    &nbsp;
                </div>
                </td> 
              <% end %>

              <td>
              <a href="/apps/details/<%= app.id %>" target="_blank">
                  <button type="button" title="View"> 
                      <i class="far fa-eye"></i>
                  </button>
              </a>
              </td>
            
            </tr>
        
        
        <% end %>

        <% end %>
        </tbody>
      </table>

      </div>

      </div>
      <% end %>
    </div>
    <br>
    
    <!-- App.new(app_no: "A5-0030", name: "Another Testing App", price: 17, description: "......", create_report: true, status: "pending", user_id: 60, analysis_id: 1, category_id: 3) -->
