<% content_for :title, "Apps" %>

<% content_for:head do%>
  
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <%= javascript_pack_tag "table_style" %>

    <script>
    $( document ).on('turbolinks:load', function() {
      $('#pj_table').DataTable({
          "paging":   false,
          "ordering": false,
          "info":     false
      });
    });

    // $(document).ready(function() {
    //   $('#pj_table').DataTable( {
    //       "paging":   false,
    //       "ordering": false,
    //       "info":     false
    //   } );
    // } );

     $( function() {
        $( "#accordion" ).accordion();
      } );

    </script>
  
  <% end %>



  <div class="container" onload="init()">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%=link_to 'Admin home', '/admin' %>
      </li> 
      <li class="breadcrumb-item">
        <%=link_to 'App', '/admin/apps' %>
      </li> 
      
    </ol>

    <h1>
    App
    </h1>
  
    <p>
        This page is made for admin to :
        <ul>
          <li>Check out all apps in the system</li>
          <li>Edit app details (through producer's page)</li>
        </ul>
    </p>
  
    <hr>

    Search for an app by Name: &nbsp;
    <input type="text">
    <button type="submit"><i class="fas fa-search"></i></button>
    <br><br>

    <div id="accordion">

      <% @cats.each do |cts| %>

      <h3><%= cts["name"] %></h3>
      <div>

        <table id="pj_table" class="display" style="margin: 0;">
        <thead>
               
            <th> App No. </th>
            <th> Name </th>
            <th> Author </th>
            <th> Last Update Time </th>
          
        </thead>
  
        <tbody>
        <% @apps.each do |app| %>

        <% if app["category_id"] == cts["id"] %>
          
            <tr>
              <% @app_attrs.each do |attr| %>

                <td> 
                <div class="table_cell"> 
                    <% if attr == "user_id" %>
                    <%= @users.find(app[attr])["username"] %>
                    <% else %>
                    <%= app[attr] %>
                    <% end %>
                    &nbsp;
                </div>
                </td> 
              <% end %>
            
            </tr>
        
        
        <% end %>

        <% end %>
        </tbody>
      </table>

      </div>
      <% end %>
    </div>
    <br>
    
    <!-- App.new(app_no: "A5-0030", name: "Another Testing App", price: 17, description: "......", create_report: true, status: "pending", user_id: 60, analysis_id: 1, category_id: 3) -->