<% content_for (:sidebar) do %>
    <%= render :partial => "layouts/sidebar" %>
<% end %>

<% content_for :title, "App Management" %>

<% content_for :head do%>
  
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <%= javascript_pack_tag 'apps_js' %>
    <%= javascript_pack_tag "table_style" %>

    <script>
    // $( document ).on('turbolinks:load', function() {
    //   $('#pj_table').DataTable({
    //       "paging":   false,
    //       "ordering": false,
    //       "info":     false
    //   });
    // });

    $(document).ready(function() {
        $('#pj_table').DataTable( {
            "paging":   false,
            "ordering": false,
            "info":     false
        } );

        $('#check_all_online').click(function() {
          var checkboxes = $(".onlinecheck");
          checkboxes.prop('checked', this.checked);
        });

        $('#check_all_audit').click(function() {
          var checkboxes = $(".auditcheck");
          checkboxes.prop('checked', this.checked);
        });

    } );

      $( function() {
        $( "#accordion" )
          .accordion({
            heightStyle: "content",
            header: "> div > h3"
          })
          .sortable({
            axis: "y",
            handle: "h3",
            stop: function( event, ui ) {
              // IE doesn't register the blur when sorting
              // so trigger focusout handlers to remove .ui-state-focus
              ui.item.children( "h3" ).triggerHandler( "focusout" );
    
              // Refresh accordion to handle new order
              $( this ).accordion( "refresh" );
            }
          });
      } );


    </script>
  
  <% end %>


  <body data-turbolinks="false">

  <div class="container-fluid p-0">
  <div class="row no-gutters">
  <%
=begin%>
 <div class="col">
  <%= yield :sidebar %>
  </div> 
<%
=end%>

  <div class="col-11 pl-4">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%=link_to 'Admin home', '/admin' %>
      </li> 
      <li class="breadcrumb-item">
        <%=link_to 'App', '/admin/apps' %>
      </li> 
      
    </ol>

    <h1>
    App
    </h1>
  
    <p>
        This page is made for admin to : 
        <ul>
          <li>Check out all apps in the system</li>
          <li>Change status of multiple apps</li>
        </ul>
    </p>
  
    <hr>

    <form action="/admin/apps/search" method="POST" id="searchapp">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
    Search for apps by Name: &nbsp;
    <input type="text" id="text" name="name">
    <button data-toggle="tooltip" type="submit" id="search" class="btn btn-primary" title="Search">
      <i class="fas fa-search"></i>
    </button> &nbsp;
    <span class="badge badge-pill badge-danger" id="warning">Please input a keyword.</span>
    </form>
    <br>

<ul class="nav nav-tabs nav-justified rounded">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#accordion">All</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#b">Online</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#c">Audit</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#d">Offline</a>
    </li>
  </ul>

  <div class="tab-content border-right border-bottom border-left rounded">

    <div id="accordion" class="tab-pane container-fluid active">
      <br>

      <% @cats.each do |cts| %>

      <div class="group">

      <h3><%= cts["name"] %></h3>
      <div>

      <% @count = 0 %>
        <% @apps.each do |app| %>
          <% if app["category_id"] == cts["id"] %>
            <% @count += 1 %>
          <% end %>
        <% end %>
        <% if @count == 0 %>
          <div class="alert alert-warning m-0">
            No app for category "<%= cts["name"] %>".
          </div>
        <% else %>

        <table class="table table-hover" style="margin: 0; width:100%">
        <thead>
               
            <th> App No. </th>
            <th> Name </th>
            <th> Author </th>
            <th> Last Update Time </th>
            <th> Status </th>
            <th> Action </th>
          
        </thead>
  
        <tbody>
        <% @apps.each do |app| %>

        <% if app["category_id"] == cts["id"] %>
          
            <tr>
              <% @app_attrs.each do |attr| %>

                <td> 
                <div class="table_cell"> 
                    <% if attr == "user_id" %>
                    <%= @users.find(app[attr])["username"] %>
                    <% else %>
                      <% if attr == 'updated_at' %>
                      <%= String(app[attr].localtime).split(" ")[0] %>
                      <%= String(app[attr].localtime).split(" ")[1] %>
                      <% else %>
                      <%= app[attr] %>
                      <% end %>
                    <% end %>
                    &nbsp;
                </div>
                </td> 
              <% end %>

              <td>
                    <% if app.status=="online" %>
                        <b style="color: forestgreen;"><i class="fas fa-check-circle"></i>online</b>
                    <% elsif app.status=="audit" %>
                        <b style="color: goldenrod;"><i class="fas fa-exclamation-circle"></i>audit</b>
                    <% else %>
                        <b style="color: crimson;"><i class="fas fa-times-circle"></i>offline</b>
                    <% end %>
              </td>

              <td>
              <a href="/apps/details/<%= app.id %>">
                  <button data-toggle="tooltip" type="button" title="View" class="btn btn-outline-success"> 
                      <i class="far fa-eye"></i>
                  </button>
              </a>
              </td>
            
            </tr>
        
        
        <% end %>

        <% end %>
        </tbody>
      </table>
      <% end %>

      </div>

      </div>
      <% end %>
    </div>

    <div id="b" class="tab-pane container-fluid fade">
    <br>
    <form action="/admin/apps/hide" method="POST" id="hidef">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
    <button class="btn btn-outline-secondary">
      <i class="fas fa-undo-alt"></i>
      Hide
    </button>
    <br>
    <table class="table table-hover">
      <thead>
        <tr>
          <th> </th>
          <th>App No.</th>
          <th>Name</th>
          <th>Author</th>
          <th>Category</th>
          <th>Last Update Time</th>
        </tr>
      </thead>
      <tbody>
      <% @apponline.each do |app| %>
      <tr>
          <td><input type="checkbox" class="onlinecheck" name=<%= app.id %> style="cursor: pointer;"></td>
          <td><%= app.app_no %></td>
          <td><%= app.name %></td>
          <td><%= User.find(app.user_id).username %></td>
          <td><%= Category.find(app.category_id).name %></td>
          <td>
              <%= String(app["updated_at"].localtime).split(" ")[0] %>
              <%= String(app["updated_at"].localtime).split(" ")[1] %>
          </td>
      </tr>
      <% end %>
      <tr>
        <td>
        <input type="checkbox" id="check_all_online" style="cursor: pointer;">
        </td>
        <td>
        <label for="check_all_online">[Check All]</label><br>
        </td>
        <td></td><td></td><td></td><td></td>
      </tr>
      </tbody>
    </table>
    </form>
    </div>

    <div id="c" class="tab-pane container-fluid fade">
    <br>
    <form action="/admin/apps/pass" method="POST" id="passf">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
    <button class="btn btn-outline-warning">
      <i class="fas fa-share"></i>
      Pass
    </button>
    <br>
    <table class="table table-hover">
      <thead>
        <tr>
          <th> </th>
          <th>App No.</th>
          <th>Name</th>
          <th>Author</th>
          <th>Category</th>
          <th>Last Update Time</th>
        </tr>
      </thead>
      <tbody>
      <% @appaudit.each do |app| %>
      <tr>
          <td><input type="checkbox" class="auditcheck" name=<%= app.id %> style="cursor: pointer;"></td>
          <td><%= app.app_no %></td>
          <td><%= app.name %></td>
          <td><%= User.find(app.user_id).username %></td>
          <td><%= Category.find(app.category_id).name %></td>
          <td>
              <%= String(app["updated_at"].localtime).split(" ")[0] %>
              <%= String(app["updated_at"].localtime).split(" ")[1] %>
          </td>
      </tr>
      <% end %>
      <tr>
        <td>
        <input type="checkbox" id="check_all_audit" style="cursor: pointer;">
        </td>
        <td>
        <label for="check_all_audit">[Check All]</label><br>
        </td>
        <td></td><td></td><td></td><td></td>
      </tr>
      </tbody>
    </table>
    </form>
    </div>

    <div id="d" class="tab-pane container-fluid fade">
    
    <table class="table table-hover">
      <thead>
        <tr>
          <th> </th>
          <th>App No.</th>
          <th>Name</th>
          <th>Author</th>
          <th>Category</th>
          <th>Last Update Time</th>
        </tr>
      </thead>
      <tbody>
      <% @appoffline.each do |app| %>
      <tr>
          <td> </td>
          <td><%= app.app_no %></td>
          <td><%= app.name %></td>
          <td><%= User.find(app.user_id).username %></td>
          <td><%= Category.find(app.category_id).name %></td>
          <td>
              <%= String(app["updated_at"].localtime).split(" ")[0] %>
              <%= String(app["updated_at"].localtime).split(" ")[1] %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>

    </div>


</div>

    <br>

  </div>
  </div>
    
    <!-- App.new(app_no: "A5-0030", name: "Another Testing App", price: 17, description: "......", create_report: true, status: "pending", user_id: 60, analysis_id: 1, category_id: 3) -->
</div>
