<% content_for (:sidebar) do %>
    <%= render :partial => "layouts/sidebar" %>
<% end %>
   
   <% content_for :title, "Search Results" %>

    <% content_for:head do%>
  
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <%= javascript_pack_tag "table_style" %> 

        <script>
    // $( document ).on('turbolinks:load', function() {
    //   $('#pj_table').DataTable({
    //       "paging":   false,
    //       "ordering": false,
    //       "info":     false
    //   });
    // });

    $(document).ready(function() {
        $('#pj_table').DataTable( {
            "paging":   false,
            "ordering": false,
            "info":     false
        } );
    } );

    </script>

    <% end %>

    <body data-turbolinks="false">

  <div class="container-fluid p-0">
  <div class="row no-gutters">
  <%
=begin%>
 <div class="col">
  <%= yield :sidebar %>
  </div> 
<%
=end%>

<div class="col-11 pl-4">
<ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%=link_to 'Admin home', '/admin' %>
      </li> 
      <li class="breadcrumb-item">
        <%=link_to 'App', '/admin/apps' %>
      </li>
      <li class="breadcrumb-item">
        Search Results
      </li> 
</ol>
    
    <div id="result">
    <h3>Search Results</h3> <br>
    <div>
    <table id="pj_table" class="display" style="margin: 0;">
        <thead>
               
            <th> App No. </th>
            <th> Name </th>
            <th> Author </th>
            <th> Last Update Time </th>
            <th> Action </th>
          
        </thead>

        <tbody id="area">

        <% @results.each do |tapp| %>
            <tr>
              <% @app_attrs.each do |attr| %>
                <td> 
                <div class="table_cell"> 
                    <% if attr == "user_id" %>
                    <%= @users.find(tapp[attr])["username"] %>
                    <% else %>
                    <%= tapp[attr] %>
                    <% end %>
                    &nbsp;
                </div>
                </td> 
              <% end %>

              <td>
              <a href="/apps/details/<%= tapp.id %>" target="_blank">
                  <button data-toggle="tooltip" type="button" title="View"> 
                      <i class="far fa-eye"></i>
                  </button>
              </a>
              </td>

            </tr>
        <% end %>
        
        </tbody>
    </table>
    <br>

</div>
</div>
</div>