<% content_for (:sidebar) do %>
    <%= render :partial => "layouts/sidebar" %>
<% end %>

<% if false %>
<div class="container-fluid">
    <div class="row">
        <%= yield :sidebar %>
    </div>
</div>
<% end %>

<% content_for:head do%>
  
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">

    <script>
    $(document).ready(function() {
        $('#pj_table').DataTable( {
             dom:
              "<'row'<'col-sm-12'tr>>" +
              "<'p-1'><'row'<'col-sm-4'i><'col-sm-4 text-center'l><'col-sm-4'p>>",

              "columnDefs": [
                { "type": "num", "targets": 0 }
              ]

        } );
    } );

    </script>
  
  <% end %>

  <%= javascript_pack_tag 'category_js' %>
  
  <% content_for :title, "Categories" %>

  <body data-turbolinks="false">
  
  <div class="container-fluid p-0">
  <div class="row no-gutters">
  <%
=begin%>
 <div class="col" id="sidebar">
  <%= yield :sidebar %>
  </div> 
<%
=end%>
  
  <div class="col-11 pl-4">
    <ol class="breadcrumb">
     <button style="display:none;" type="button" id="trigger" class="btn btn-primary"><i class="fas fa-bars"></i></button>
      <li class="breadcrumb-item">
        <%=link_to 'Admin home', '/admin' %>
      </li> 
      <li class="breadcrumb-item">
        <%=link_to 'Category', '/admin/categories' %>
      </li> 
      
    </ol>

    <h1>
    Category
    </h1>
  
    <p>
        This page is made for admin to :
        <ul>
          <li>Check out all categories in the system</li>
          <li>Edit category names and create new category</li>
        </ul>
    </p>
  
    <hr>
  
    <section id="project_admin" class="admin_block">
  
      <div id='hidden_helper' style = 'display: none;'>
      Hide columns: 
      <br>
      <% i=0 %>
      <% @cat_attrs.each do |attr| %>
        
        <button class="toggle-vis" data-column='<%=i.to_s%>'> 
          <%= attr.capitalize %>
        </button>
        <%i += 1%>
        
      <%end%>
      <br>
    </div><br>

      <div class="d-none">
      <form action="/admin/categories/new" method="POST">
        <button type="button" id="intro" style="display: block;" class="btn btn-primary">
            <i class="fas fa-folder-plus"></i>New Category
        </button>
        <div id="fmain">
        <label for="nm">Name: </label>
        <input type="text" id="nm">
        <input type="hidden" name="name" value="">
        <button data-toggle="tooltip" type="submit" title="OK" id="asub" class="btn btn-primary">
            <i class="fas fa-check"></i>
        </button>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
        </div>
      </form>
      </div>
      <p> </p>
  
      <table id="pj_table" class="display table table-hover" style="margin: 0; width:100%" data-page-length="-1">
        <thead>
               
            <th style="padding-left: 1%;"> Id </th>
            <th style="padding-left: 1%;"> Name </th>
            <th style="padding-left: 1%;"> Action </th>
            <th style="padding-left: 1%;"> Created At </th>
            
          
        </thead>
  
        <tbody>
          <% @cats.each do |cts| %>
          
            <tr>
              <% @cat_attrs.each do |attr| %>


                <% if attr == 'name' %>
                <td> 

                  <div class="table_cell name_cell">
                    <span class="name">
                    <%= cts[attr] %>
                    </span>
                  </div>

                </td>

                <td>
                <form action="/admin/categories/edit" method="post">
                    <input type="hidden" name="id" value=<%= cts["id"] %>>
                    <input type="hidden" name="name" class="target" value="">
                    <button data-toggle="tooltip" type="button" title="Edit" class="edit btn btn-outline-info" id= <%= cts["name"] %> >
                        <i class="far fa-edit"></i>
                    </button>
                    <button data-toggle="tooltip" type="submit" title="OK" class="submit btn btn-outline-info" style="">
                        <i class="fas fa-check"></i>
                    </button>
                    <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
                </form>
                </td>

                <% else %>
                <td> 
                <div class="table_cell"> 
                    <% if attr == 'created_at' %>
                    <%= String(cts[attr].localtime).split(" ")[0] %>
                    <% else %>
                    <%= cts[attr] %>
                    <% end %>
                    &nbsp;
                </div>
                </td> 
                <% end %>

            
              <% end %>
            
            </tr>
          
          <% end %>
        </tbody>
  
      </table>
  
    </section>

    <hr>
    <br/>

  </div>
  </div>
  </div>

<script>
$("#trigger").click(function() {
      $("#sidebar").fadeToggle(500);
    });
</script>