<% content_for :head do%>
  
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
    <%= javascript_pack_tag "table_style" %>
    <script>
        $( document ).on('turbolinks:load', function() {
            $('#data-table').DataTable({
                paging: true,
                lengthChange: false,
                pageLength: 10,
                searching: false,
                order: [
                    [0, 'asc'],
                    [1, 'asc']
                ],
                columnDefs: [
                    {orderable: false, targets: 2},
                    {orderable: false, targets: 5}
                ]
            });
        });

    </script>
<% end %>

<% content_for :title, "App Index List" %>

<div class="container-fluid p-0">

    <div  class="col-12 pl-4">

        <h1>Welcome <i><%= @user_name %></i> to use GAPP producer's page</h1>

        <table style="width: 100%">
            <tr>
              <td>
                  Currently you have created <%= @apps.count %> Apps: Online: <%= @count_online %> ; Audit: <%= @count_audit %> ; Offline: <%= @count_offline %> .
              </td>
              <td style="float: right;">
                  <%= button_to createnew_app_path, method: :get, class: 'btn btn-primary' do %>
                      <i class="fas fa-pen-nib"></i> + CREATE NEW APP
                  <% end %>
              </td>
            </tr>
        </table>

        <table id="data-table" class="table table-hover">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>App Name</th>
                    <th>Cover Image</th>
                    <th>Status</th>
                    <th>Last Modified At</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
                <% @apps.each do |app| %>
                    <tr style="height: 100px;">
                        <td style="vertical-align: middle;"> <%= Category.find(app.category_id).name %> </td>
                        <td style="vertical-align: middle;"> <%= app.name %> </td>
                        <td style="vertical-align: middle;">
                            <% if app.cover_image.attached? %>
                                <%= image_tag app.cover_image, alt: "image", style: "height:100px" %>
                            <%  else %>
                                No Image
                            <% end %>
                        </td>
                        <td style="vertical-align: middle;">
                            <% if app.status=="online" %>
                                <b style="color: forestgreen;"><i class="fas fa-check-circle"></i>online</b>
                            <% elsif app.status=="audit" %>
                                <b style="color: goldenrod;"><i class="fas fa-exclamation-circle"></i>audit</b>
                            <% else %>
                                <b style="color: crimson;"><i class="fas fa-times-circle"></i>offline</b>
                            <% end %>
                        </td>
                        <td style="vertical-align: middle;">
                          <%= String(app.updated_at.localtime).split(' ')[0] %>
                          &nbsp;
                          <%= String(app.updated_at.localtime).split(' ')[1].split(':')[0] %>:<%= String(app.updated_at.localtime).split(' ')[1].split(':')[1] %>
                        </td>
                        <td>
                            <div style="padding-top: 40px;" class="container btn-group btn-group-justified">
                                <%= button_to app_path(app), method: :get, class: 'btn btn-outline-primary btn-sm' do %>
                                    <i class="fas fa-edit"></i>use
                                <% end %>

                                <%= button_to check_detail_app_path(app), method: :get, class: 'btn btn-outline-info btn-sm' do %>
                                    <i class="fas fa-file-alt"></i>info
                                <% end %>

                                <%= button_to edit_app_path(app), method: :get, class: 'btn btn-outline-success btn-sm' do %>
                                    <i class="fas fa-wrench"></i>edit
                                <% end %>

                                <%= button_to app_path(app), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-outline-danger btn-sm'  do %>
                                    <i class="fas fa-trash-alt"></i>delete
                                <% end %>

                                <% if app.published? %>
                                    <%= button_to offshelf_app_path(app), method: :get, data: { confirm: "Hide this app?" }, class: 'btn btn-outline-secondary btn-sm'  do %>
                                        <i class="fas fa-undo-alt"></i>hide
                                    <% end %>
                                <% end %>
                                <% if account_signed_in? and current_account.has_role? :admin %>
                                    <% if app.awaiting? %>
                                        <%= button_to onshelf_app_path(app), method: :get, data: { confirm: "Release to the public?" }, class: 'btn btn-outline-warning btn-sm'  do %>
                                            <i class="fas fa-share"></i>pass
                                        <% end %>
                                    <% end %>
                                <% end %>
                            </div>
                        </td>
                    </tr>
                <% end %>
            <tbody>
        </table>
    </div>
</div>