<h1>Welcome to use GAPP</h1>

<%= link_to "+ NEW", new_app_path %>

<table>
    <thead>
        <tr>
            <th>App Number</th>
            <th>App Name</th>
            <th>Cover Image</th>
            <th>Status</th>
            <th>Last Modified At</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        <% @apps.each do |app| %>
            <tr>
                <td> <%= app.app_no %> </td>
                <td> <%= app.name %> </td>
                <td> <%= image_tag app.cover_image, alt: "image", style: "height:100px" %> </td>
                <td> <%= app.status %> </td>
                <td> <%= app.updated_at %> </td>
                <td>
                    <%= link_to "[ info ]", app %>
                     
                    <%= link_to "[ edit ]", edit_app_path(app) %>
                     
                    <%= link_to "[ delete ]", app_path(app), method: :delete, data: { confirm: "Are you sure?" } %>
                </td>
            </tr>
        <% end %>
    <tbody>
</table>