<h1>Application [ <%= @app.name %> ] </h1>
<br>
<hr>
<%= link_to "<-- BACK", apps_path %> <br>
<table>
    <tr>
        <td>Number</td>
        <td><%= @app.app_no %></td>
    </tr>
    <tr>
        <td>Description</td>
        <td><%= @app.description %></td>
    </tr>
    <tr>
        <td>Created By</td>
        <td>
            <%= @user.username %>
        </td>
    </tr>
    <tr>
        <td>Cover Image</td>
        <td>
            <% if @app.cover_image.attached? %>
                <%= image_tag @app.cover_image, alt: "Cover Image", style: "width:200px" %>
            <%  else %>
                No Cover Image Found...
            <% end %>
        </td>
    </tr>
    <tr>
        <td>Created at</td>
        <td><%= @app.created_at %></td>
    </tr>
    <tr>
        <td>Last Modified at</td>
        <td><%= @app.updated_at %></td>
    </tr>
</table>
