<% content_for (:sidebar) do %>
    <%= render :partial => "layouts/sidebar" %>
<% end %>

<% if false %>
<div class="container-fluid">
    <div class="row">
        <%= yield :sidebar %>
    </div>
</div>
<% end %>

<% content_for:head do%>
  
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    
    <script>
    $(document).ready(function() {
        $('#pj_table').DataTable( {
             dom:
              "<'row'<'#barea.col-sm-6'><'col-sm-6'f>>" +
              "<'row'<'col-sm-12'tr>>" +
              "<'p-1'><'row'<'col-sm-4'i><'col-sm-4 text-center'l><'col-sm-4'p>>",

              columnDefs: [
                {
                  targets: -1,
                  className: 'dt-right'
                },
                { 
                  orderable: false, 
                  targets: -1
                }
              ],

        } );
    } );

    // $( document ).on('turbolinks:load', function() {
    //   $('#pj_table').DataTable({
    //     "dom": '<"top"i>rt<"bottom"flp><"clear">'
    //   });
    // });
    </script>
  
  <%end%>

  <%= javascript_pack_tag 'users_js' %>
  
  <% content_for :title, "Users" %>

  <body data-turbolinks="false">

  <style>
  /* .sorting {
    padding-left: 0;
  } */
  </style>

  <div class="container-fluid p-0">
  <div class="row no-gutters">
  <%
=begin%>
 <div class="col">
  <%= yield :sidebar %>
  </div> 
<%
=end%>

  
  <div class="col-11 pl-4">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%=link_to 'Admin home', '/admin' %>
      </li> 
      <li class="breadcrumb-item">
        <%=link_to 'User', '/admin/users' %>
      </li> 
      
    </ol>

    <h1>
    User
    </h1>
  
    <p>
        This page is made for admin to :
        <ul>
          <li>Check out all users in the system</li>
          <li>Edit user role and delete user</li>
        </ul>
    </p>
  
    <hr>
  
    <section id="project_admin" class="admin_block">
  
      <div id='hidden_helper' style = 'display: none;'>
      Hide columns: 
      <br>
      <% i=0 %>
      <% @usercolumn.each do |attr| %>
        
        <button class="toggle-vis" data-column='<%=i.to_s%>'> 
          <%= attr.capitalize %>
        </button>
        <%i += 1%>
        
      <%end%>
      <br>
    </div><br>

      <div style="display: none;">
      <a href="/admin/users/new">
        <button class="btn btn-primary" type="button">
          <i class="fas fa-user-plus"></i>New User
        </button>
      </a>
      &nbsp;
      <a href="/accounts/invitation/new">
        <button class="btn btn-info" type="button">
          <i class="fas fa-envelope-open-text"></i>Invite User
        </button>
      </a>
      </div>
  
      <table id="pj_table" class="display table table-hover" style="margin: 0; width:100%" data-page-length="-1">
        <thead>
          
          <% @usercolumnname.each do |attr| %>
            
            <th style="padding-left: 1%;"> <%= attr.capitalize %> </th>
            
          <% end %>
          <th>
            Actions
            &emsp;&emsp;&emsp;&emsp;&nbsp;
          </th>
          
        </thead>
  
        <tbody>
          <% @users.each do |usr| %>
          
            <tr>
              <% @usercolumn.each do |attr| %>

                <% if attr == 'role_id' && String(usr[attr]) != "" %>
                <td> 
                  <div class="table_cell role_cell">
                    <% if usr.account_id != nil %>
                    <%= Account.find(usr.account_id).roles.first.name %>
                    <% else %>
                    <%= @roles.find(usr[attr])["name"] %>
                    <% end %>
                  </div>
                </td>
                <% else %>
                <td> 
                  <div class="table_cell"> 
                    <% if attr == 'created_at' %>
                    <%= String(usr[attr].localtime).split(" ")[0] %>
                    <% else %>
                    <%= usr[attr] %>
                    <% end %>
                  </div>
                </td>
                <% end %>
            
              <% end %>

              <td>
                <form action="/admin/users/edit" method="POST">  
                  <%= link_to '<button type="button" data-toggle="tooltip" title="Delete" class="btn btn-outline-danger"><i class="far fa-trash-alt"></i></button>'.html_safe, "/admin/users/" + String(usr.id), method: :delete,
                          data: { confirm: 'Are you sure you want to delete user "' + String(usr.username) + '"?<br>You can\'t undo this action.', 
                                  title: 'Confirm your action', 
                                  commit: 'Delete' } %>
                  
                  <button type="button" data-toggle="tooltip" title="Edit Role" class="edit btn btn-outline-info">
                      <i class="far fa-edit"></i>
                  </button>
                  <button data-toggle="tooltip" type="submit" title="OK" class="submit btn btn-outline-info" style="">
                      <i class="fas fa-check"></i>
                  </button>
                  
                  <a href="/admin/users/<%= usr.id %>">
                  <button data-toggle="tooltip" type="button" title="View" class="btn btn-outline-success"> 
                      <i class="far fa-eye"></i>
                  </button>
                  </a>
                  &emsp;&nbsp;
                  <%
=begin%>
 <a href="/users/<%= usr.id %>" target="_blank">
                  <button type="button" data-toggle="tooltip" title="Operate" class="btn btn-outline-primary"> 
                      <i class="fas fa-wrench"></i>
                  </button>
                  </a> 
<%
=end%>
                  <input type="hidden" name="id" value=<%= usr["id"] %>>
                  <input type="hidden" name="role_id" value="" class="target">
                  <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
                </form>
              </td>
            
            </tr>
          
          <% end %>
        </tbody>
  
      </table>
  
    </section>

    <hr>
    <br/>

  </div>
  </div>
  </div>

