<% content_for :title, "New User" %>

<h1>New User</h1>

<div style="margin : 20px;">

<%= simple_form_for @user, url: "/admin/users/new/" do |f| %>
  <%= f.input :username %>
  <%= f.input :password_digest %>
  <%= f.input :role_id %>
  <%= f.button :submit %>
<% end %>

<br>
<a href="/admin/users">
<button data-toggle="tooltip" type="button" title="back">     
  <i class="fas fa-angle-double-left"></i>
</button>
</a>

</div>
<br>
