<h1>New User</h1>

<div style="margin : 20px;">

<%= form_with url: "/admin/users/new/", model: @user do |form| %>
  <div>
    <%= form.label :username %><br>
    <%= form.text_field :username %>
  </div>

  <div>
    <%= form.label :password_digest %><br>
    <%= form.text_field :password_digest %>
  </div>

  <div>
    <%= form.label :role_id %><br>
    <%= form.text_field :role_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<br>
<a href="/admin/users">
<button type="button">     
  <i class="fas fa-angle-double-left"></i>
</button>
</a>

</div>
<br>
