<% content_for (:sidebar) do %>
    <%= render :partial => "layouts/sidebar" %>
<% end %>

<%= javascript_pack_tag 'new_user' %>

<% content_for :title, "New User" %>

<div class="container-fluid p-0">
  <div class="row no-gutters">
  <%
=begin%>
 <div class="col">
  <%= yield :sidebar %>
  </div> 
<%
=end%>

<div class="col-11 pl-4">
<ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%=link_to 'Admin home', '/admin' %>
      </li> 
      <li class="breadcrumb-item">
        <%=link_to 'User', '/admin/users' %>
      </li>
      <li class="breadcrumb-item">
        <%=link_to 'New', '/admin/users/new' %>
      </li> 
</ol>

<h1>New User</h1>

<div style="margin : 20px;">

<div class="alert alert-warning alert-dismissible fade show">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <i class='fa fa-exclamation-triangle'></i>Users created through this page will not have an account. To create an account, use
      <a href="/accounts/invitation/new">
      <strong>Invite User</strong>
      </a>
      .
</div>
<br>

<%= simple_form_for @user, url: "/admin/users/new/" do |f| %>
  <%= f.input :username %>
  <%= f.input :password_digest %>
  <%= f.input :role_id, :collection => [['admin',1],['producer',2],['user',3]] %>
  <%= f.button :button do %>
    <i class="fas fa-check"></i>Create User
  <% end %>

<% end %>

</div>
<br>

</div>
</div>
</div>
